.card {
  width: 16rem;
  height: 12.5rem;
  border-radius: 2;
  background: var(--cor-azul-escuro);
  border-color: white !important;
}

.card-cidade {
  width: 16rem;
  height: 12.5rem;
  border-radius: 2;
  background: #7c2e18;
  border-color: white !important;
}

.card-sitio {
  width: 16rem;
  height: 12.5rem;
  border-radius: 2;
  background: rgb(241, 124, 45);
  border-color: white !important;
}

.card.palco {
  width: 18rem;
  height: auto;
}

.card-cidade.palco {
  width: 18rem;
  height: auto;
}

.container-categoria {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  width: 6rem;
  height: 2rem;
  background-color: white;
  z-index: 1000;
  border-bottom-left-radius: 50px;
}

.categoria {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: var(--fonte-apoio);
  color: var(--cor-roxa);
}

.categoria.palco {
  color: var(--cor-azul-escuro);
  text-align: right;
}

.categoria.palco-sitio {
  color: rgb(241, 124, 45);
  text-align: right;
}

.categoria.palco-cidade {
  color: #7c2e19;
  text-align: right;
}


.card-title {
  margin-bottom: 2rem;
  color: whi;
  font-family: var(--fonte-apoio);
  text-transform: uppercase;
}

.card-title.palco {
  margin: 0.5rem 0;
  color: var(--cor-branco);
}

.card-title.cidade {
  margin: 0.5rem 0;
  color: var(--cor-branco);
}

.card-title.sitio {
  margin: 0.5rem 0;
  color: var(--cor-branco);
}

.horario {
  color: var(--cor-laranja);
}

.horario-cidade {
  color: #ff8569;
}

.horario-sitio {
  color: rgb(19, 70, 133);
}

.dia {
  color: var(--cor-laranja);
  font-family: var(--fonte-principal);
}

.dia-cidade {
  color: var(--cor-branco);
  font-family: var(--fonte-principal);
}

.dia-sitio {
  color: rgb(19, 70, 133);
  font-family: var(--fonte-principal);
}

.card-subtitle {
  font-family: var(--fonte-apoio);
}

.container-card {
  margin-bottom: 4rem;
  margin-top: 1rem;
}
