
:root {
  --cor-vermelho-escuro: #9e0000;
  --cor-vermelho: #d10404;
  --cor-azul-escuro: #0048a2;
  --cor-azul: #0670c7;
  --cor-verde-escuro: #0c745f;
  --cor-verde: #009483;
  --cor-laranja-escuro: #e67800;
  --cor-laranja: #ffaa01;
  --cor-marrom: #d65600;
  --cor-branco: #ffffff;
  --cor-cinza-escuro: #333333;

  --fonte-principal: "Palamecia", sans-serif;
  --fonte-apoio: "Morl", sans-serif;
}

@font-face {
  font-family: "Palamecia";
  src: url("../assets/fonts/palamecia-titling.ttf");
}

@font-face {
  font-family: "Morl";
  src: url("../assets/fonts/MorlRounded-Regular.otf");
}

* {
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--cor-laranja);
  border-radius: 20px;
}
