@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Secular+One&display=swap');

:root{
    --cor-vermelho-escuro: #9E0000;
    --cor-vermelho: #D10404;
    --cor-azul-escuro: #0048A2;
    --cor-azul: #0670C7;
    --cor-verde-escuro: #0C745F;
    --cor-verde: #009483;
    --cor-laranja-escuro: #E67800;
    --cor-laranja: #FFAA01;
    --cor-marrom: #D65600;
    --cor-branco: #FFFFFF;
    --cor-cinza-escuro: #333333;

    --fonte-principal: 'Passero One', sans-serif;
    --fonte-apoio: 'Secular One', sans-serif;
}

@font-face {
    font-family: "Passero One", sans-serif;
    font-weight: 400;
}

@font-face {
    font-family: "Secular One", sans-serif;
    font-weight: 400;
}


* {
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0.5rem;              
}

body::-webkit-scrollbar-thumb {
    background-color: var(--cor-laranja);
    border-radius: 20px;             
}

