.bg-hero {
  margin-top: 100px;
  width: 100%;
  height: 100%;
}

.bg-hero-marca {
  margin-top: 100px;
  width: 20rem;
  height: auto;
  position: absolute;
  filter: drop-shadow(0px 0px 3px black);
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 100px));
}

.m-titulo-secao {
  color: white;
  font-family: var(--fonte-principal);
  font-size: 2.5rem;
}

.m-titulo-secao-linha {
  display: inline-block;
  padding: 15px 25px;
  color: white;
  font-family: var(--fonte-principal);
  font-size: 2.5rem;
  background-image: url("../public/placa-madeira.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  max-width: 500px;
  filter: drop-shadow(0px 0px 3px black);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.m-titulo-secao-maior {
  display: inline-block;
  padding: 15px 25px;
  color: white;
  font-family: var(--fonte-principal);
  font-size: 2.5rem;
  background-image: url("../public/placa-madeira.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  max-width: 500px;
  filter: drop-shadow(0px 0px 3px black);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.m-titulo-secao-menor {
  display: none;
  padding: 15px 25px;
  color: white;
  font-family: var(--fonte-principal);
  font-size: 2.5rem;
  background-image: url("../public/placa-madeira.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  max-width: 500px;
  filter: drop-shadow(0px 0px 3px black);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.m-apresentacao-texto {
  font-size: 1.2rem;
  font-family: var(--fonte-apoio);
  line-height: 1.5rem;
  text-align: justify;
}

.arrow-down {
  border: none;
  background: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.m-btn-historia {
  padding: 1rem 1.5rem;
  color: white;
  text-decoration: none;
  border: none;
  background-color: var(--cor-laranja);
}

.m-btn-historia:hover {
  color: white;
  transition: 0.5s;
  background-color: var(--cor-laranja-escuro);
  cursor: pointer;
}

.container-video {
  width: 100%;
  height: 90vh;
}

.m-btn-play-video {
  border: none;
  background: none;
}

.m-btn-play-video:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

.m-iframe-video {
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.accordion-button {
  box-shadow: none !important;
  color: white !important;
  background-color: rgb(241, 124, 45) !important;
  font-family: var(--fonte-principal);
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-body {
  font-family: var(--fonte-apoio);
  background-color: var(--cor-amarela);
}

.m-button-programacao {
  font-family: var(--fonte-apoio);
  color: var(--cor-cinza-escuro);
  background: var(--cor-branco) !important;
  border-radius: 0 !important;
}

.m-button-programacao:hover {
  color: var(--cor-branco);
  background: var(--cor-azul-escuro) !important;
  border: 1px solid white;
}

.m-button-programacao.active {
  background: var(--cor-azul-escuro) !important;
}

.active {
  color: var(--cor-branco) !important;
}

.palcos.active {
  color: var(--cor-branco) !important;
}

.nav-tabs {
  border: none !important;
}

/* é o texto da apresentação */
.m-titulo-programacaotxt {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: var(--fonte-principal);
}

.m-titulo-programacao {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-family: var(--fonte-principal);
  margin-top: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  background-image: url("../public/placa-madeira.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24rem;
  max-width: 500px;
  filter: drop-shadow(0px 0px 3px black)
  
}

.m-container-palcos-serra,
.m-container-palcos-cidade {
  width: 100%;
  background-position: center;
  background-repeat: repeat;
}

.m-container-palcos-serra {
  background-image: url("../public/serra-negra-bg.png");
}

.m-container-palcos-cidade {
  background-image: url("../public/sitio-cidade-bg.png");
}

.m-container-mapa {
  height: 100vh;
  width: 100%;
}

#hero {
  height: calc(100vh - 100px);
}

#apresentacao {
  scroll-margin-top: 100px;
  background: url("../public/textura-azul-v2.png");
  background-position: center;
  background-repeat: repeat;
}

#mapa {
  scroll-margin-top: 100px;
  background: url("../public/textura-azul-v2.png");
  background-position: center;
  background-repeat: repeat;
}

#patrocinio {
  background: var(--cor-branco);
  background-position: center;
  background-repeat: repeat;
}

#faq {
  scroll-margin-top: 100px;
  background: url("../public/bg-palha-verde.png");
  background-position: center;
  background-repeat: repeat;
}

@media (max-width: 767px) {
  .container-video {
    height: 50vh;
  }
  .m-container-palcos-serra {
    background-image: url("../public/BG-AZUL.png"); /* Substitua pelo nome da imagem menor */
  }

  .m-container-palcos-cidade {
    background-image: url("../public/BG-VERDE.png"); /* Substitua pelo nome da imagem menor */
  }

  .m-titulo-secao-maior {
    display: none;
  }

  .m-titulo-secao-menor {
    display: inline-block;
  }
}

@keyframes animacao-logo-hero {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-tabs {
  border: none !important;
}

.nav-link:not(.active) {
  opacity: 0.8;
}

.nav-link.active {
  opacity: 1;
}

.divisoria {
  width: 100%;
  height: 1rem;
  background-image: url("/c.png");
  background-position: center;
  background-size: contain;
  filter: drop-shadow(0px 0px 3px black);
}
