.responsiveMain {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin-top: 100px;
  flex-direction: row;
  background-image: url("../public/fundo-vitrine.png");
  position: relative;
}

.textContainer {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: rgb(0, 79, 255, 0.8);
  border-radius: 3rem;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border: black 4px solid;
}

.title {
  display: inline-block;
  padding: 10px 10px;
  color: white;
  font-family: var(--fonte-principal);
  font-size: 2rem; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.text {
  font-family: var(--fonte-apoio);
  color: aliceblue;
}

.carouselContainer {
  flex: 1;
  margin-left: 20px;
  margin-top: 20px;
   
    
}

.justificado {
  text-align: justify;

}

.carousel-image {
  width: 1600px;
  height: 1066px;
  object-fit: cover; 
}

.mapaCor {
  color: whitesmoke;
}

@media (max-width: 768px) {
  .responsiveMain {
    flex-direction: column;
    padding: 20px;
    margin-top: 100px;
  }

  .textContainer {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .carouselContainer {
    margin-left: 0;
    margin-top: 0;
  }

  .title {
    font-size: 1.7rem;
  }


}
